* {
  margin: 0;
  padding: 0;
}

html {
    font-family: "Arial Black", Gadget, sans-serif;
}

.header {
  padding: 10px;
  text-align: center;
  background: #44918b;
  color: white;
  font-size: 18px;
}

#content {
    padding: 15px;
}

#left {
    float: left;
}

#middle {
    float: left;
}

#right {
    float: left;
    padding-left: 50px;
}

canvas {
    border: solid lightslategray 1px;
}

/*******************************
        Speech-bubble
********************************/
#speech-bubble {
    color: #fff;
    background: #44918b;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    margin-left: 20px;
    max-width: 400px;
    padding: 15px;
    position: relative;
}

#speech-bubble:after {
    border-left: 20px solid transparent;
    border-top: 20px solid #44918b;
    bottom: -20px;
    content: "";
    position: absolute;
    left: 20px;
}

/*******************************
            Zoo-keeper
********************************/
#zoo-keeper {
    margin-top: -30px;
}

/*******************************
            Buttons
********************************/
.btn {
    box-shadow: 0px 10px 14px -7px #276873;
	background: linear-gradient(to bottom, #44918b 5%, #6db5af 100%);
	background-color: #44918b;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 20px;
	text-decoration: none;
    margin-top: 5px;
	/*text-shadow: 0px 1px 0px #3d768a;*/
}

.btn:hover {
	background: linear-gradient(to bottom, #6db5af 5%, #44918b 100%);
	background-color: #6db5af;
}

.btn:active {
	position: relative;
	top: 1px;
}

/*******************************
            Tables
********************************/

table, td, th {  
  border: 1px solid #44918b;
  text-align: left;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
}